.container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gray {
    color: gray;
}

.purple {
    color: mediumpurple;
}

.userSelectAll {
    user-select: all;
    -webkit-user-select: all;
}
