.container {
    display: flex;
    overflow: hidden;
}

.innerContainer {
    display: flex;
    overflow: hidden;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
}

.head {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 0;
}

.tail {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
    overflow-wrap: normal;
}
